body{
    margin: 0;
    padding: 0;
    background-color: #e5fffe;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* navbar */
 #navbar{
    background-color: #e5fffe;
 }
.nav-item{
    font-size: 1.5rem;
    padding-left:50px;
    font-weight: 700;
}
.navbar-brand img{
    height: 60px;
}

@media (max-width:800px){
    .nav-item{
        font-size: 1.1rem;
        padding-left:10px;
        font-weight: 700;
    }
    .navbar-brand img{
        height: 30px;
    }
}

/* title */


#title{
    background-color: #e5fffe;
    padding: 4% 1%;
    text-align: center;
}
.title-hed{
    font-weight: 700;
}
.title-img-wrapper img{
    height: auto;
    width: 100%;
}
.title-para{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 70%;
    height: 50%; */
    font-size: 1.2rem;
    font-weight: 700;
}
.title-img-wrapper{
    position: relative;
}
#title button{
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 1px;
    background-color: #c8f0d5;
    border-radius: 50px;
    padding: 2%;
    border: solid black 4px;
    transition: 500ms;
}
#title button:hover{
    background-color:whitesmoke;
    transform: scale(1.05);
}
.title-phone-img{
    margin-top: 5%;
}

@media (max-width:800px) {
    .title-para{
        font-size: 0.5rem;
        /* top:45%; */
    }
    .title-hed{
        font-size: 1rem;
    }
    #title button{
        font-size: 0.8rem;
        font-weight: 700;
        border:solid black 3px;
    }
    .title-phone-img{
        margin-top: 20%;
    }
}

/* about */

#about{
    text-align: center;
    background-color: #e5fffe;
    padding: 4% 0;
    font-weight: 700;
}
#about h2{
    font-weight: 700;
}
#about img{
    width: 50%;
    margin-top: 4%;
}
#about p{
    text-align: start;
    font-size:1.1rem;
    font-weight: 700;
    padding: 3% 7%;
    margin:0;
}


@media (max-width:800px) {
    #about p{
        font-size: 0.7rem;
    }
}


/* things we do */

#we-do{
    text-align: center;
    background-color: #e5fffe;
    padding: 4% 0;
}

.things-inner{
    padding: 3%;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 500ms;
}
#we-do p{
    position: relative;
    top: 10%;
}
#we-do h2{
    padding-bottom:5%;
    font-weight: 700;
}
.things-we-do{
    padding: 1% 20%;
}
.things-skill{
    background-color: #76cfd7;
}
.things-meetup{
    background-color: #639ced;
}
.things-bootcamp{
    background-color: #f6cf50;
    font-size: 2.2rem;
}
.things-network{
    background-color: #ed3a33;
}
.things-webinar{
    background-color: #90bd24;
}
.things-support{
    background-color: #03556a;
}
.things-inner:hover{
    transform: scale(1.05);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0);
}


@media (max-width: 800px){

    /* things */

    .things-alt{
        padding-left: 0 !important;
    }
    .things-inner{
        font-size: 0.9rem;
        font-weight: 700;
        padding:5%;
    }
    p{
        top: 18% !important;
    }
    .things-we-do{
        padding: 2% 6%;
    }
}


/* previous projects */

#Projects{
    text-align: center;
    background-color: #e5fffe;
    padding: 4% 0;
}

#Projects h2{
    font-weight: 700;
}
.crsl{
    padding: 4% 14%;
}
.project{
    text-align: left;
    max-width: 100%;
    height: 70vh ;
    background-image: url("images/lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    border-radius: 15px;
}
.project-slide{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 67%;
    padding: 2%;
    border-radius: 15px;
}
.project-slide p{
    font-size: 1rem;
    font-weight: 700;
}
.project-slide i{
    font-size: 3rem;
}
.project-slide h3{
    font-weight: 700;
}

@media (max-width:800px) {
    .project{
        height: 25vh !important;
    }
    .project-slide p{
        margin-bottom:5px;
    }
    .project-slide{
        top: 55%;
        
    }
    .project-slide h3{
        font-size: 0.9rem !important;
    }
    .project-slide i{
        font-size: 1.5rem !important;
    }
    .crsl{
        padding: 4% 4%;
    }
}



/* our team */

#section-team{
    background-color: #e5fffe;
    padding: 4% 0;
}

#section-team .container{
    padding: 0 7%;

}
#section-team h2{
    text-align: center;
    margin-bottom: 5%;
    font-weight: 700;
}

.img-wrapper img{
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
}
.team-card{
    background-color:#e5fffe;
    border-radius: 0.5rem;
    padding: 0.2rem ;
    margin: 7% 15%;
    box-shadow: rgb(50 50 93 / 25%) 0px 0 100px -20px,
     rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}
.img-wrapper{
    display: inline-block;
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    padding: 1rem ;
    /* margin-bottom: 10px; */
}

.team-name , .team-role{
    font-weight: 700;
    margin: 0 0 10px 6% ;

}
.team-role{
    padding-bottom: 20px;
}
.team-card i{
    font-size: 1.1rem;
    color: black;
    margin: 0 0 20px 8% ;
    transition: 300ms all ease;
}
.team-card i:hover{
    color: #76cfd7;
}

@media (max-width:800px) {
    .team-row{
        padding: 20px 10%;
    }
}

/* contact us */

#Contact{
    background-color: #e5fffe;
}
.form-area{
    padding-top: 2%;
}
.row.single-form{
    /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5); */
    background: #fff;
    border-radius: 10px;
}
.left{
    background-color: #03556a;
    padding: 200px 93px;
    border-radius: 10px;
}
.left-col{
    background-color: #03556a;
    border-radius: 10px;
}
.left h2{
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}
.right{
    padding: 70px 100px;
    position: relative;
}
.form-control{
    border: 2px solid #000;
}
.right button{
    border: none;
    border-radius: 6px;
    background: #252525;
    width: 180px;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.right button:hover{
    background: #252525;
}
.form-control:focus {
    border-color:#03556a !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(118, 207, 215, 0.7) !important;
} 
@media(max-width:767px){
    .left{
        padding: 90px 15px;
        text-align: center;
    }
    .left h2{
        font-size: 25px;
    }
    .right{
        padding: 25px;
    }
    .right button{
        width: 150px;
        padding: 12px 0;

    }
}

/* footer */

#footer{
    background-color: #e5fffe;
    padding: 4% 0;
    text-align: center;
}

.social-media-icons a{
    font-size: 1.6rem;
    margin: 20px;
    color: #03556a;
}
#footer p{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
}
.social-media-icons a:hover{
    color: #76cfd7;
    transition: all ease-out 300ms;
}

@media (max-width:800px) {
    #footer p{
        font-size: 0.8rem !important;
    }
}



/* aboutus */

#aboutus{
    text-align: center;
    background-color: #e5fffe;
    padding-bottom: 5%;
}
#aboutus h1{
    font-weight: bold;
    margin-bottom: 11%;
    text-align: center;
}
.about-img1-wrapper img{
    height: auto;
    width: 100%;
    padding-top: 5%;
}
.coloumn-wrapper{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 15%;
}
.about-img2-wrapper img{
    height: auto;
    width: 100%;
    padding-top: 15%;
}

@media (max-width:800px) {
    .coloumn-wrapper p{
        padding: 0 4%;
    }
    
    .coloumn-wrapper{
        font-size: 0.9rem;
    }
}